@import "../CSS/fonts.css";

body {
   background: rgb(255,255,255);
   background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(148,187,233,1) 100%);
}

.btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    font-family: "Shantell Sans", "cursive";
    font-size: 40px;
    font-weight: 400;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;  
}

.btn:hover {
    transition-duration: 0.1s;
    background-color: #94bbe9; /*изменить цвет потом*/ 
}

